<div class="card" style="background-color: aqua" >
	<div class="card_content">
		<div class="content">
			<div class="column">
                <div class="" style="font-size: large" > <b>নামঃ {{ request.POST.name }}</b></div>
				<div class="column"></div>
			</div>
			<div class="column" >
                <div class="" style="font-size: large" ><b>ইমেল ঠিকানাঃ {{ request.POST.email }}</b></div>
				<div class="column"></div>
			</div>
			<div class="column">
                <div class="" style="font-size: large"><b>মোবাইল নাম্বারঃ {{ request.POST.phone }}</b></div>
				<div class="column"></div>
			</div>
			
		</div>
		
	</div>
	
</div>